---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='angular'>
  <img src='/images/icons/Angular.svg' alt='angular' class='h-4' />
  <span>Angular</span>
</SkillTagWrapper>
