---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='bootstrap'>
  <img src='/images/Bootstrap.png' alt='bootstrap' class='h-4' />
  <span>Bootstrap</span>
</SkillTagWrapper>
