---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='django'>
  <img src='/images/icons/Django.svg' alt='django' class='h-4' loading='lazy' />
  <span>Django</span>
</SkillTagWrapper>
