---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='docker'>
  <img src='/images/icons/Docker.svg' alt='docker' class='h-3' />
  <span>Docker</span>
</SkillTagWrapper>
