---
import SkillTagWrapper from './SkillTagWrapper.astro';
---

<SkillTagWrapper style='expressjs'>
  <img src='/images/Express.png' alt='express' class='h-4 rounded-full outline outline-1 outline-dark-800 dark:outline-none bg-dark-800 dark:bg-transparent' />
  <span>Express</span>
</SkillTagWrapper>
