---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='javascript'>
  <img
    src='/images/icons/Javascript.svg'
    alt='javascript'
    class='h-4'
    loading='lazy'
  />
  <span>JavaScript</span>
</SkillTagWrapper>
