---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='kubernetes'>
  <img
    src='/images/icons/Kubernetes.svg'
    alt='kubernetes'
    class='h-4'
    loading='lazy'
  />
  <span>Kubernetes</span>
</SkillTagWrapper>
