---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='kubernetes'>
  <img src='/images/icons/Kubernetes.png' alt='kubernetes' class='h-4' />
  <span>Kubernetes</span>
</SkillTagWrapper>
