---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='materialui'>
  <img
    src='/images/icons/MaterialUI.svg'
    alt='material ui'
    class='h-4'
    loading='lazy'
  />
  <span>MaterialUI</span>
</SkillTagWrapper>
