---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='materialui'>
  <img src='/images/MaterialUI.png' alt='material ui' class='h-4' />
  <span>MaterialUI</span>
</SkillTagWrapper>
