---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='nextjs'>
  <img
    src='/images/icons/NextJS.svg'
    alt='nextjs'
    class='h-4 rounded-full outline outline-1 outline-dark-800 dark:outline-none bg-dark-800 dark:bg-transparent'
    loading='lazy'
  />
  <span>Next JS</span>
</SkillTagWrapper>
