---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='nodejs'>
  <img src='/images/icons/NodeJS.png' alt='nodejs' class='h-4' />
  <span>Node JS</span>
</SkillTagWrapper>
