---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='postgresql'>
  <img src='/images/icons/PostgreSQL.svg' alt='postgresql' class='h-4' />
  <span>PostgreSQL</span>
</SkillTagWrapper>
