---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='python'>
  <img src='/images/icons/Python.png' alt='python' class='w-4 h-4' />
  <span>Python</span>
</SkillTagWrapper>
