---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='spring boot'>
  <img
    src='/images/icons/Spring Boot.svg'
    alt='spring boot'
    class='h-4'
    loading='lazy'
  />
  <span>Spring Boot</span>
</SkillTagWrapper>
