---
import SkillTagWrapper from './SkillTagWrapper.astro';
---

<SkillTagWrapper style='spring boot'>
  <img src='/images/Spring Boot.png' alt='spring boot' class='h-4 w-4' />
  <span>Spring Boot</span>
</SkillTagWrapper>
