---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='tailwindcss'>
  <img
    src='/images/icons/TailwindCSS.svg'
    alt='tailwindcss'
    class='h-3'
    loading='lazy'
  />
  <span>TailwindCSS</span>
</SkillTagWrapper>
