---
import SkillTagWrapper from './SkillTagWrapper.astro';
---

<SkillTagWrapper style='tailwindcss'>
  <img src='/images/TailwindCSS.png' alt='tailwindcss' class='h-3' />
  <span>TailwindCSS</span>
</SkillTagWrapper>
