---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='typescript'>
  <img src='/images/icons/Typescript.png' alt='typescript' class='w-4 h-4' />
  <span>Typescript</span>
</SkillTagWrapper>
