---
import SkillTagWrapper from './SkillTagWrapper.astro'
---

<SkillTagWrapper style='typescript'>
  <img
    src='/images/icons/Typescript.svg'
    alt='typescript'
    class='w-4'
    loading='lazy'
  />
  <span>Typescript</span>
</SkillTagWrapper>
