---
import Title from './Title.astro'
---

<section class='py-36 relative flex flex-col gap-3' id='aboutme'>
  <Title>About me</Title>

  <div
    class='absolute top-1/4 left-0 sm:-left-[8%] md:-left-[25%] lg:-left-[58%] w-44 h-44 rounded-full bg-blue-500/70 dark:bg-purple-500/55 blur-[100px]'
  >
  </div>

  <div
    class='absolute right-[10%] sm:-right-[8%] md:-right-[25%] lg:-right-[40%] bottom-20 w-24 h-24 rounded-full bg-purple-500/50 dark:bg-blue-500/65 blur-2xl dark:blur-3xl'
  >
  </div>

  <article class='flex justify-center items-center'>
    <p class='text-sm font-medium text-pretty'>
      <img
        src='/Jason.png'
        alt='emerzon javier kolki martinez'
        class='float-right w-36 h-36 rounded-full object-cover ml-3 border-4 border-dark-400'
      />

      Soy Emerzon Javier Kolki Martinez y <span
        class='dark:text-blue-100 text-blue-500'
      >
        mi viaje en el mundo de la programación comenzó de manera autodidacta a
        la temprana edad de 14 años.
      </span>
      Desde entonces, he desarrollado sistemas, aplicaciones web y servicios.

      <br />
      <br />

      En la actualidad, estoy cursando el 5to ciclo de mi carrera "Computación e
      informatica" en el Instituto Tecnológico Privado CIBERTEC. Desde mi
      ingreso, he destacado notablemente gracias a mis solidos conocimientos y
      las aplicaciones que he desarrollado. <span
        class='dark:text-purple-200 text-purple-500'
      >
        Uno de mis logros en CIBERTEC fue con la app "Control Interno de
        Almacen", que no solo fue reconocida por mis compañeros y profesores,
        sino que fue expuesta y premiado en la <span class='italic'
          >"Feria de Proyectos 2023 de CIBERTEC"</span
        > en la cede de Trujillo.
      </span>

      <br />
      <br />

      <span class='dark:text-blue-100 text-blue-500'
        >A pesar de que esta aplicación recibió reconocimiento, no representa el
        punto más alto de mis conocimientos.</span
      > He desarrollado por cuenta propia apps que cuentan con un uso más amplio
      de tecnologías, buenas practicas y problemáticas. Entre ellas, puedo destacar
      "Ask Everyone", una aplicación para crear encuestas y poder responderlas, ademas
      de brindar un apartado de estadisticas de las respuestas dadas por los encuestados.
    </p>
  </article>
</section>
