---
import Tooltip from './Tooltip.astro'

import { IoDocumentText } from 'react-icons/io5'
---

<Tooltip title='CV'>
  <a
    class='p-[10px] rounded text-white font-medium bg-purple-500 hover:bg-purple-200 dark:bg-blue-500 dark:hover:bg-blue-100 transition-colors duration-300 flex text-lg'
    href='/documents/Emerzon Javier Kolki Martinez - CV.pdf'
  >
    <IoDocumentText className='text-xl' />
  </a>
</Tooltip>
