---
import { IoDocument } from 'react-icons/io5'
---

<a
  class='py-[6px] px-7 rounded text-white font-medium dark:bg-purple-500 dark:hover:bg-purple-200 bg-blue-500 hover:bg-blue-100 transition-colors duration-300 flex justify-center items-center gap-1 text-lg'
  href='/documents/Emerzon Javier Kolki Martinez - CV.pdf'
>
  <IoDocument className='text-xl' />
  <span>CV</span>
</a>
