---
import JobStatus from './JobStatus.astro'
import Link from './Link'

import { FaGithub, FaLinkedin } from 'react-icons/fa'
import { IoMailOutline } from 'react-icons/io5'
---

<section class='py-16 relative'>
  <div class='h-80 w-full'></div>

  <div
    class='absolute right-[70%] sm:-right-[8%] md:-right-[25%] lg:-right-[46%] top-[45%] w-20 h-20 rounded-full bg-purple-500/85 dark:bg-blue-500/70 blur-2xl dark:blur-3xl'
  >
  </div>

  <article class='flex flex-col gap-y-2'>
    <h1 class='font-bold text-presentation'>
      Hi, I'm Emerzon Javier <br /> Kolki Martinez <JobStatus />
    </h1>

    <p class='font-medium'>
      <span class='text-purple-500 dark:text-purple-200'
        >Full Stack developer.</span
      >
      I'm from Trujillo, Peru.
      <span class='text-blue-500 dark:text-blue-100'>Self-taught learning.</span
      >
    </p>

    <div class='flex gap-x-2 flex-wrap'>
      <Link Icon={FaGithub} href='https://github.com/JasonCrk' isExternalLink>
        GitHub
      </Link>
      <Link
        Icon={FaLinkedin}
        href='https://www.linkedin.com/in/emerzonkolkimartinez/'
        isExternalLink
      >
        LinkedIn
      </Link>
      <Link href='mailto:emerzonkolki@gmail.com' Icon={IoMailOutline}>
        emerzonkolki@gmail.com
      </Link>
    </div>
  </article>
</section>
