---
interface Props {
  isActuallyWorking?: boolean
}

const { isActuallyWorking } = Astro.props
---

<span class={`leading-none inline-block align-middle px-4 py-1.5 font-medium rounded-full border text-xs ${isActuallyWorking ? 'bg-purple-200/20 dark:bg-purple-200/10 border-purple-500 text-purple-500' : 'bg-blue-100/20 dark:bg-blue-100/10 border-blue-400 text-blue-400'}`}>
  {isActuallyWorking ? 'Currently working' : 'Available to work'}
</span>