---
import type { Skill } from '../types/skills'

import Title from './Title.astro'
import Link from './Link'
import ProjectItem from './ProjectItem.astro'

import projects from '../data/projects.json'

const latestProjects = projects.slice(0, 3)
---

<section class='py-20 relative' id='projects'>
  <div
    class='absolute top-1/3 left-0 sm:-left-[8%] md:-left-[25%] lg:-left-[58%] w-44 h-44 rounded-full bg-blue-500/70 dark:bg-purple-500/55 blur-[100px]'
  >
  </div>

  <div
    class='absolute right-[10%] sm:-right-[8%] md:-right-[25%] lg:-right-[40%] bottom-20 w-24 h-24 rounded-full bg-purple-500/50 dark:bg-blue-500/65 blur-2xl dark:blur-3xl'
  >
  </div>

  <Title>Latest projects</Title>

  <section class='mt-4 flex flex-col gap-4'>
    {
      latestProjects.map(project => (
        <ProjectItem {...project} stack={project.stack as Skill[]} />
      ))
    }

    <div class='flex justify-center'>
      <Link href='/projects' extraClasses='px-8 py-2'>
        Ver todos los proyectos
      </Link>
    </div>
  </section>
</section>
