---
import NavLink from './NavLink.astro'
import Logo from './Logo.astro'
import ThemeToggleButton from './ThemeToggleButton'
import CvButton from './CvButton.astro'
---

<div
  class='absolute -top-14 left-1/2 -translate-x-1/2 bg-blue-600/70 dark:bg-purple-500/70 w-1/2 blur-[140px] h-28 rounded-[100%]'
>
</div>

<header class='fixed top-0 z-50 left-0 w-full'>
  <nav
    class='flex justify-center items-center w-full h-16 gap-x-3 relative'
    id='navbar'
  >
    <CvButton />

    <NavLink href='/#skills'>Skills</NavLink>
    <NavLink href='/#projects'>Projects</NavLink>

    <a href='/'><Logo /></a>

    <NavLink href='/#aboutme'>About me</NavLink>
    <NavLink href='/#contact'>Contact</NavLink>

    <ThemeToggleButton client:load />
  </nav>
</header>

<script>
  window.onscroll = () => {
    let navbarElement = document.getElementById('navbar')!

    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      navbarElement.classList.add(
        'bg-white/30',
        'dark:bg-dark-900/30',
        'backdrop-blur-md'
      )
    } else {
      navbarElement.classList.remove(
        'bg-white/30',
        'dark:bg-dark-900/30',
        'backdrop-blur-md'
      )
    }
  }
</script>
