---
import Title from './Title.astro'
import Tooltip from './Tooltip.astro'

import JavascriptIcon from './icons/JavascriptIcon.astro'
import TypescriptIcon from './icons/TypescriptIcon.astro'
import ReactIcon from './icons/ReactIcon.astro'
import AngularIcon from './icons/AngularIcon.astro'
import TailwindCSSIcon from './icons/TailwindCSSIcon.astro'
import MaterialUIIcon from './icons/MaterialUIIcon.astro'
import BootstrapIcon from './icons/BootstrapIcon.astro'
import NodeJSIcon from './icons/NodeJSIcon.astro'
import ExpressIcon from './icons/ExpressIcon.astro'
import JavaIcon from './icons/JavaIcon.astro'
import SpringBootIcon from './icons/SpringBootIcon.astro'
import PythonIcon from './icons/PythonIcon.astro'
import DjangoIcon from './icons/DjangoIcon.astro'
import MySQLIcon from './icons/MySQLIcon.astro'
import PostgreSQLIcon from './icons/PostgreSQLIcon.astro'
import GitIcon from './icons/GitIcon.astro'
import DockerIcon from './icons/DockerIcon.astro'
import KubernetesIcon from './icons/KubernetesIcon.astro'
---

<section class='py-40 relative' id='skills'>
  <div class='absolute top-5 left-0 sm:-left-[8%] md:-left-[25%] lg:-left-[58%] w-44 h-44 rounded-full bg-blue-500/70 dark:bg-purple-500/50 blur-[100px]'></div>

  <div class='absolute right-[10%] sm:-right-[8%] md:-right-[25%] lg:-right-[46%] bottom-20 w-20 h-20 rounded-full bg-purple-500/85 dark:bg-blue-500/70 blur-2xl dark:blur-3xl'></div>

  <Title>Skills</Title>

  <article class='grid grid-cols-5 gap-3 place-items-center mt-4'>
    <Tooltip title='JavaScript'>
      <a href='/projects?language=javascript'>
        <JavascriptIcon />
      </a>
    </Tooltip>

    <Tooltip title='TypeScript'>
      <a href='/projects?language=typescript'>
        <TypescriptIcon />
      </a>
    </Tooltip>

    <Tooltip title='React'>
      <a href='/projects?lib=react'>
        <ReactIcon />
      </a>
    </Tooltip>

    <Tooltip title='Angular'>
      <a href='/projects?framework_frontend=angular'>
        <AngularIcon />
      </a>
    </Tooltip>

    <Tooltip title='TailwindCSS'>
      <a href='/projects?lib=tailwindcss'>
        <TailwindCSSIcon />
      </a>
    </Tooltip>

    <Tooltip title='Material UI'>
      <a href='/projects?lib=materialui'>
        <MaterialUIIcon />
      </a>
    </Tooltip>

    <Tooltip title='Bootstrap'>
      <a href='/projects?lib=bootstrap'>
        <BootstrapIcon />
      </a>
    </Tooltip>

    <Tooltip title='Node.js'>
      <a href='/projects?language=nodejs'>
        <NodeJSIcon />
      </a>
    </Tooltip>

    <Tooltip title='Express'>
      <a href='/projects?framework_backend=express'>
        <ExpressIcon />
      </a>
    </Tooltip>

    <Tooltip title='Java'>
      <a href='/projects?language=java'>
        <JavaIcon />
      </a>
    </Tooltip>

    <Tooltip title='Spring Boot'>
      <a href='/projects?framework_backend=springboot'>
        <SpringBootIcon />
      </a>
    </Tooltip>

    <Tooltip title='Python'>
      <a href='/projects?language=python'>
        <PythonIcon />
      </a>
    </Tooltip>

    <Tooltip title='Django'>
      <a href='/projects?language=django'>
        <DjangoIcon />
      </a>
    </Tooltip>

    <Tooltip title='MySQL'>
      <a href='/projects?db=mysql'>
        <MySQLIcon />
      </a>
    </Tooltip>

    <Tooltip title='PostgreSQL'>
      <a href='/projects?db=postgresql'>
        <PostgreSQLIcon />
      </a>
    </Tooltip>

    <Tooltip title='Git'>
      <a href='/projects?tech=git'>
        <GitIcon />
      </a>
    </Tooltip>

    <Tooltip title='Docker'>
      <a href='/projects?tech=docker'>
        <DockerIcon />
      </a>
    </Tooltip>

    <Tooltip title='Kubernetes'>
      <a href='/projects?tech=kubernetes'>
        <KubernetesIcon />
      </a>
    </Tooltip>
  </article>
</section>
