---
import Title from './Title.astro'
import Tooltip from './Tooltip.astro'

import JavascriptIcon from './icons/JavascriptIcon.astro'
import TypescriptIcon from './icons/TypescriptIcon.astro'
import ReactIcon from './icons/ReactIcon.astro'
import AngularIcon from './icons/AngularIcon.astro'
import TailwindCSSIcon from './icons/TailwindCSSIcon.astro'
import MaterialUIIcon from './icons/MaterialUIIcon.astro'
import BootstrapIcon from './icons/BootstrapIcon.astro'
import NodeJSIcon from './icons/NodeJSIcon.astro'
import ExpressIcon from './icons/ExpressIcon.astro'
import JavaIcon from './icons/JavaIcon.astro'
import SpringBootIcon from './icons/SpringBootIcon.astro'
import PythonIcon from './icons/PythonIcon.astro'
import DjangoIcon from './icons/DjangoIcon.astro'
import MySQLIcon from './icons/MySQLIcon.astro'
import PostgreSQLIcon from './icons/PostgreSQLIcon.astro'
import GitIcon from './icons/GitIcon.astro'
import DockerIcon from './icons/DockerIcon.astro'
import KubernetesIcon from './icons/KubernetesIcon.astro'
---

<section class='py-40 relative' id='skills'>
  <div
    class='absolute top-5 left-0 sm:-left-[8%] md:-left-[25%] lg:-left-[58%] w-44 h-44 rounded-full bg-blue-500/70 dark:bg-purple-500/50 blur-[100px]'
  >
  </div>

  <div
    class='absolute right-[10%] sm:-right-[8%] md:-right-[25%] lg:-right-[46%] bottom-20 w-20 h-20 rounded-full bg-purple-500/85 dark:bg-blue-500/70 blur-2xl dark:blur-3xl'
  >
  </div>

  <Title>Skills</Title>

  <article class='grid grid-cols-5 gap-3 place-items-center mt-4'>
    <Tooltip title='JavaScript'>
      <JavascriptIcon />
    </Tooltip>

    <Tooltip title='TypeScript'>
      <TypescriptIcon />
    </Tooltip>

    <Tooltip title='React'>
      <ReactIcon />
    </Tooltip>

    <Tooltip title='Angular'>
      <AngularIcon />
    </Tooltip>

    <Tooltip title='TailwindCSS'>
      <TailwindCSSIcon />
    </Tooltip>

    <Tooltip title='Material UI'>
      <MaterialUIIcon />
    </Tooltip>

    <Tooltip title='Bootstrap'>
      <BootstrapIcon />
    </Tooltip>

    <Tooltip title='Node.js'>
      <NodeJSIcon />
    </Tooltip>

    <Tooltip title='Express'>
      <ExpressIcon />
    </Tooltip>

    <Tooltip title='Java'>
      <JavaIcon />
    </Tooltip>

    <Tooltip title='Spring Boot'>
      <SpringBootIcon />
    </Tooltip>

    <Tooltip title='Python'>
      <PythonIcon />
    </Tooltip>

    <Tooltip title='Django'>
      <DjangoIcon />
    </Tooltip>

    <Tooltip title='MySQL'>
      <MySQLIcon />
    </Tooltip>

    <Tooltip title='PostgreSQL'>
      <PostgreSQLIcon />
    </Tooltip>

    <Tooltip title='Git'>
      <GitIcon />
    </Tooltip>

    <Tooltip title='Docker'>
      <DockerIcon />
    </Tooltip>

    <Tooltip title='Kubernetes'>
      <KubernetesIcon />
    </Tooltip>
  </article>
</section>
