---
import Title from './Title.astro'

import JavascriptIcon from './icons/JavascriptIcon.astro'
import TypescriptIcon from './icons/TypescriptIcon.astro'
import ReactIcon from './icons/ReactIcon.astro'
import AngularIcon from './icons/AngularIcon.astro'
import TailwindCSSIcon from './icons/TailwindCSSIcon.astro'
import MaterialUIIcon from './icons/MaterialUIIcon.astro'
import BootstrapIcon from './icons/BootstrapIcon.astro'
import NodeJSIcon from './icons/NodeJSIcon.astro'
import ExpressIcon from './icons/ExpressIcon.astro'
import JavaIcon from './icons/JavaIcon.astro'
import SpringBootIcon from './icons/SpringBootIcon.astro'
import PythonIcon from './icons/PythonIcon.astro'
import DjangoIcon from './icons/DjangoIcon.astro'
import MySQLIcon from './icons/MySQLIcon.astro'
import PostgreSQLIcon from './icons/PostgreSQLIcon.astro'
import GitIcon from './icons/GitIcon.astro'
import DockerIcon from './icons/DockerIcon.astro'
import KubernetesIcon from './icons/KubernetesIcon.astro'
---

<section class='py-40' id='skills'>
  <Title>Skills</Title>

  <div class='grid grid-cols-5 gap-3 place-items-center'>
    <a href='/projects?language=javascript'><JavascriptIcon /></a>
    <a href='/projects?language=typescript'><TypescriptIcon /></a>
    <a href='/projects?framework_frontend=react'><ReactIcon /></a>
    <a href='/projects?framework_frontend=angular'><AngularIcon /></a>
    <a href='/projects?lib=tailwindcss'><TailwindCSSIcon /></a>
    <a href='/projects?lib=materialui'><MaterialUIIcon /></a>
    <a href='/projects?lib=bootstrap'><BootstrapIcon /></a>
    <a href='/projects?language=nodejs'><NodeJSIcon /></a>
    <a href='/projects?framework_backend=express'><ExpressIcon /></a>
    <a href='/projects?language=java'><JavaIcon /></a>
    <a href='/projects?framework_backend=springboot'><SpringBootIcon /></a>
    <a href='/projects?language=python'><PythonIcon /></a>
    <a href='/projects?language=django'><DjangoIcon /></a>
    <a href='/projects?db=mysql'><MySQLIcon /></a>
    <a href='/projects?db=postgresql'><PostgreSQLIcon /></a>
    <a href='/projects?tech=git'><GitIcon /></a>
    <a href='/projects?tech=docker'><DockerIcon /></a>
    <a href='/projects?tech=kubernetes'><KubernetesIcon /></a>
  </div>
</section>
