---
interface Props {
  size?: string
  title: string
}

const { title, size } = Astro.props
---

<div class='relative group'>
  <slot />

  <span
    class='absolute opacity-0 text-nowrap transition-[transform_opacity] duration-300 -translate-y-1 group-hover:translate-y-0 group-hover:opacity-100 group-hover:block px-[5px] py-[2px] rounded bg-grey-50 dark:bg-dark-800 font-medium text-dark-800 tracking-wide dark:text-white border border-dark-800 dark:border-dark-400 -bottom-7 left-1/2 -translate-x-1/2 z-10'
    style={`font-size: ${size ?? '0.75rem'};`}
    >{title}</span
  >
</div>
